*~
*.o
*.zip
*.rar
*.tar
*gz
*bz2
*.obj
*.a
*.so
*.lib
*.dll
*.swp
*.swo
tags
TAGS
*.exe
*.class
*.jar
*.pyc
*.log
*.bin
core
.DS_STORE
test_result_26/protobox/
test_result_26/platform/
test_result_26/collection/
test_result_17/protobox/
test_result_17/platform/
test_result_17/collection/
test_result_18/protobox/
test_result_18/platform/
test_result_18/collection/
